name: CI

on:
  push:
    paths-ignore:
      - '*.md'
      - '.gitignore'
  pull_request:
    paths-ignore:
      - '*.md'
      - '.gitignore'
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      #fail-fast: false
      matrix:
        runs-on: [windows-latest] #, ubuntu-latest]
      #  include:
      #    - runs-on: ubuntu-latest
      #      file_extension: .sh
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      POWERSHELL_TELEMETRY_OPTOUT: 1
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      #- name: Setup (Linux)
      #  if: matrix.runs-on == 'ubuntu-latest'
      #  run: |
      #    chmod +x *.sh
      #    sudo apt-get -y update
      #    sudo apt-get -y install meson ninja-build
      - name: Build PINE (Windows)
        working-directory: pine\bindings\c
        if: matrix.runs-on == 'windows-latest'
        run: |
          python -m pip install meson ninja
          meson setup "build" --vsenv
          meson compile -C "build"
          cp "build\pine_c.dll" "..\..\..\KAMI.Core"
      - name: Build KAMI
        run: ./build_publish${{ matrix.file_extension }}
      - uses: actions/upload-artifact@v4
        with:
          name: KAMI-${{ runner.os }}
          path: bin/publish
          if-no-files-found: error
